@using BusinessHR.Admin.Models
@using IdentitySample.Models
@{
    ViewBag.Title = "Parolamı Unuttum";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";

}



<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">@ViewBag.Title</div>
        <div class="card-body">
            <form>
                <div class="form-group">

                    Lütfen parolanızı sıfırlamak için e-postanızı kontrol edin.

                </div>
                <div class="form-group" data-validate="Password is required">
                    <div class="text-danger mx-3">
                        DEMO: Parolayı sıfırlamak için bu <a href="@ViewBag.Link"> bağlantıya </a> tıklayabilirsiniz:
                        Test işlemlerinden sonra burayı kaldırınız.
                    </div>
                </div>


            </form>

        </div>
    </div>
</div>